@charset "utf-8";

:root {
  /* color変数 */
  --baseColor: rgb(255, 253, 249);
  --sectionBaseColor: rgb(253, 249, 249);
  --mainColor: #4a3b34d0;
  --btnColor: #EFE7DC;
  --accentColorRed: #d77979b0;
  --accentColorGreen: #5ea761b0;
  --questionColor: rgba(2, 31, 74, 0.931);
  --btnTextColor: #4a3b34d0;
  --itemShadow: 0.5px 0.5px 0.8px 1.2px #494953d3;
  --textShadow: 1px 1px 1px #494953d3;

  /* 余白変数 */
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;

  /* 角丸 */
  --radius: 8px;

  /* font-family */
  --english: 'メイリオ', 'ヒラギノ角ゴシック', Arial;
  --japanese: "Noto Sans JP";

  /* ===ダークモード時=== */
  --darkModeBaseColor: #1a1a1a;
  --darkModeFontColor: #f9eed9;

  /* ボーダー */
  --darkModeBorderStyle: 1px solid #909090;
  --darkModeItemShadow: 0.5px 0.5px 0.8px 1.2px #fafafbd3;

  /* ボタン */
  --darkModeBtnColor: #be7c4c97;
  --darkModeItemShadow: 0.5px 0.5px 0.8px 1.2px #dfdfe1d3;
}

/*===================
common
====================*/
html {
  font-size: 62.5%;
  color: rgb(46, 44, 44);
}

body {
  overflow: hidden;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.counter-area {
  text-align: center;
  margin-top: var(--space-s);
  font-size: 1.6rem;
  font-family: var(--english);
}

.return-menu-btn {
  font-size: 1.2rem;
  font-family: var(--japanese);
  font-weight: 500;
  padding: 10px 0;
  color: var(--btnTextColor);
  z-index: 100;
}

/*===================
      header
=====================*/
header {
  width: 100vw;
  height: 50px;
}

header h1{
  color: var(--mainColor);
  text-shadow: var(--textShadow);
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 10px;
  height: 7%;
}
/* header */


main {
  width: 100vw;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 var(--space-m);
}

/*===================
    menu-area
====================*/
.menu-area {
  width: 100%;
  height: 90%;
  display: grid;
  align-items: center;
}

.menu-list {
  background-color: var(--sectionBaseColor);
  box-shadow: var(--itemShadow);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  grid-template-rows: 35% 30% 35%;
  width: 100%;
  height: 60%;
}

.menu-item {
  font-size: 3rem;
  font-family: var(--japanese);
  color: var(--mainColor);
  font-weight: 500;
}

/*===================
    question-area
====================*/

.question-area {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 15% 35% 25% 15%;
  gap: var(--space-m);
}

.set-question {
  display: grid;
  place-items: center;
  font-family: 'メイリオ', 'ヒラギノ角ゴシック', Arial;
  font-weight: 700;
  color: var(--questionColor);
  font-size: 4rem;
  white-space: pre-wrap;
  background-color: var(--sectionBaseColor);
  width: 100%;
  height: 100%;
  box-shadow: var(--itemShadow);
  border-radius: var(--radius);
}

#answer-form {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 70% 30%;
  gap: var(--space-l);
}

.input-answer {
  font-size: 3.6rem;
  font-family: var(--japanese);
  margin: 0 auto;
  text-align: center;
  color: rgb(22, 20, 20);
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(128, 128, 128, 0.201); */
  background-color: var(--sectionBaseColor);
  box-shadow: var(--itemShadow);
  border-radius: var(--radius);
}

.judgement-answer-btn,
.next-question-btn,
.retry-btn {
  font-size: 2.4rem;
  font-family: var(--japanese);
  margin: 0 auto;
  padding: var(--space-s);
  color: var(--btnTextColor);
  background-color: var(--btnColor);
  text-align: center;
  width: 160px;
  height: 44px;
  box-shadow: var(--itemShadow);
  border-radius: var(--radius);
}

.text-black {
  color: black;
}

/*==================
    answer-area
===================*/

.answer-area {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 10% 8% 30% 20% 15% 5%;
  gap: var(--space-s);
  /* align-items: center; */
  /* position: absolute; */
}

.result-message-area {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  width: 90%;
  height: 80px;
}

.result-message {
  text-align: center;
  font-size: 3rem;
  font-family: var(--japanese);
  white-space: pre-wrap;
  padding-bottom: 8px;
}

.result-message-icon-left,
.result-message-icon-right {
  width: 80px;
  height: 80px;
}

.result-message-icon-left svg,
.result-message-icon-right svg {
  width: 100%;
  height: 100%;
  /* display: block; */
}



.correct-answer-title {
  width: 95%;
  /* height: 3%; */
  font-size: 1.2rem;
  font-family: var(--japanese);
  /* margin-top: 20px; */
}

.correct-answer-area {
  display: grid;
  place-items: center;
  gap: 5px;
  width: 100%;
  height: 95%;
  border-radius: 6px;
  box-shadow: var(--itemShadow);
  background-color: var(--sectionBaseColor);
  padding: 10px;
}

.correct-answer {
  font-family: var(--japanese);
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.supplement-message {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-family: var(--japanese);
  color: rgba(37, 37, 37, 0.8);
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.6;
}

.user-answer-area {
  display: grid;
  grid-template-rows: 30% 70%;
  width: 100%;
  height: 100%;
  background-color: var(--sectionBaseColor);
  border-radius: var(--radius);
  box-shadow: var(--itemShadow);
}

.user-answer-title {
  font-size: 1.2rem;
  font-family: var(--japanese);
  align-items: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.user-answer {
  color: rgba(50, 48, 48, 0.799);
  font-size: 2rem;
  font-family: var(--japanese);
  text-align: center;
  padding: var(--space-m);
  border-radius: 0 0 8px 8px;
}

/* .next-question-btn {
  font-size: 3.6rem;
  padding: 10px;
  margin-top: 20px;
} */

/*==================
  add-question-area
===================*/
.add-question-area {
  display: grid;
  /* grid-template-rows: 80px 80px 100px; */
  gap: 20px;
  place-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.add-english-area,
.add-japanese-area {
  width: 100%;
  /* height: 40%; */
  font-size: 1.4rem;
  color: dimgray;
}

.add-supplement-area {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: dimgray;
  margin-top: 20px;
}

.input-english-word,
.input-japanese-word {
  border: 1px solid rgba(128, 128, 128, 0.201);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin-top: 10px;
  padding: 10px;
  /* text-align: center; */
}

.input-english-word {
  font-family: var(--english);
}

.input-japanese-word {
  font-family: var(--japanese);
}

.input-supplementary-information {
  border: 1px solid rgba(128, 128, 128, 0.201);
  border-radius: 4px;
  width: 100%;
  height: 60%;
  font-size: 1.8rem;
  font-family: var(--japanese);
  /* text-align: center; */
  margin-top: 10px;
  padding: 10px;
}

.add-btn {
  font-size: 3.6rem;
  font-family: var(--japanese);
  padding: 10px;
  /* margin-top: 10px; */
}

.delete-question-area {
  width: 100%;
  padding: 0 var(--space-s);
}

.delete-question-area-title {
  font-size: 2rem;
  font-family: var(--japanese);
  margin-top: 50px;
}

#deleteArea-wordList {
  font-size: 1.8rem;
  margin-top: 40px;
}

.word-item {
  margin-top: 15px;
  font-size: 1.6rem;
  font-family: var(--japanese);
  color: dimgray;
}

/*==================
    clear-area
===================*/
.clear-area {
  /* position: relative; */
  display: grid;
  place-items: center;
  margin: 0 auto;
  margin-top: 70px;
  width: 65%;
  height: 50%;
  background-color: rgba(239, 226, 234, 0.3);
  box-shadow: var(--itemShadow);
  border-radius: 4px;
  z-index: 10;
}

.clear-message {
  font-size: 2.5rem;
  font-family:var(--japanese);
  font-weight: 700;
  color: var(--questionColor);
}

.clear-text {
  font-size: 1.6rem;
  font-family: var(--japanese);
}

/* .retry-btn {
  border: 1px solid;
  border-radius: 4px;
  font-size: 2.5rem;
  font-family:var(--japanese);
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 5px;
} */

/*===================
    toggle style
===================*/
.true-style {
  /* background-color: var(--accentColorGreen); */
  color: var(--accentColorGreen);
  font-weight: 700;
}

.false-style {
  /* background-color: var(--accentColorRed); */
  color: var(--accentColorRed);
  font-weight: 700;
}

.hidden {
  display: none;
}

/*===================
    dark-mode style
===================*/
.dark-mode-btn {
  font-size: 1.6rem;
  font-family: var(--english);
  font-weight: 500;
  color: var(--btnTextColor);
  padding: var(--space-s);
}

/* デフォルト（昼） */
body {
  background-color: var(--baseColor);
  color: var(--questionColor);
  transition: background-color 0.3s, color 0.3s; /* じわ〜っと色を変える魔法 */
}

body.dark-mode header h1 {
  color: var(--darkModeFontColor);
}

/* ダークモード（夜） */
body.dark-mode,
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode .menu-list,
body.dark-mode .set-question,
body.dark-mode .user-answer,
body.dark-mode .supplement-message,
body.dark-mode .add-english-area,
body.dark-mode .add-japanese-area,
body.dark-mode .add-supplement-area,
body.dark-mode .word-item,
body.dark-mode .correct-answer-area,
body.dark-mode .user-answer-title {
  background-color: var(--darkModeBaseColor); /* 濃いグレー */
  color: var(--darkModeFontColor);            /* 柔らかい白 */
}

body.dark-mode,
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode .menu-list,
body.dark-mode .set-question,
body.dark-mode .correct-answer-area,
body.dark-mode .user-answer-area {
  border: var(--darkModeBorderStyle);
  box-shadow: var(--darkModeItemShadow);
}

body.dark-mode .judgement-answer-btn,
body.dark-mode .next-question-btn,
body.dark-mode .retry-btn {
  color: var(--darkModeFontColor);
  background-color: var(--darkModeBtnColor);
}

body.dark-mode .menu-item,
body.dark-mode .return-menu-btn,
body.dark-mode .dark-mode-btn {
  color: var(--darkModeFontColor);
}